@import url ('andra.css') ; 
body {
  background: orange;
}
div.float {
	float: left;
}
div.float h2 {
	text-align: center;
}
fieldset{
	        background-color: solid lightblue;
			color: black;
	        display: inline-block;
            float: auto;
			width: 150px auto;
			margin: auto;
			border: 5px;
			margin-top: 5px;
}
#wrapper{
	        background-color: solid black;
            max-width: auto;
            margin: 50px auto;
            border: 3px solid black;
}
h2 {
	text-align: center;
	margin: auto;
	color: orange;
}
input {
    width: 100px;
}
.red {
  width: 80px;
  height: 100px;
  margin-left: 100px;
}
table {
   background-color: silver;
}
th {
  text-transform: uppercase;
}
td {
  text-align: center;
}
tr {
 width: 100px;
}
.hej {
color: green;
width: 60px;
height: 80px;
position: relative;
left: 100px;
}
header {
	background-color: black;
	color: orange;
	height: 50px;
	margin-bottom: 5px;
	margin-top: 25px;
}
h1 {
	text-align: center;
}
footer {
	background-color: black;
	color: orange;
	height: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
}
article {
	background-color: black;
}
p {
	text-align: right;
}